.loginBox{
    width: 50vw;
    height: 60vh;
    margin-top: -10em;
    outline: none;
    border-color: #fd4629;
    box-shadow: 0 0 48px #fd4629;
    border: 6px #fd4629;
    border-radius: 2em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginBox__button-color{
    background-color:#8d34fd;
    color: white;
}
.loginBox__title{
    width: 40vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 3em;
}
.inputBox{
    width: 20vw;
    height: 5vh;
    background-color: #79757e;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marginTop{
    margin-top: 3vh;
}
.loginBox__optionalButtons{
    width: 20vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.loginBox__submitButton{
    width: 20vw;
    height: 5vh;
    background-color: #8d34fd;
    color: white;
    border-radius: 2em;
}
.loginBox__createAccount{
    width: 20vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.registerButton{
    width: 12vw;
    color: white;
    border-radius: 2em;
}
