<div class="loginBox">
    <!-- <button mat-raised-button class="loginBox__button-color">Log in</button> -->
    <div class="loginBox__title marginTop">
        Login
    </div>
    <div class="loginBox__username inputBox marginTop">
        username
    </div>
    <div class="loginBox__password inputBox marginTop">
        password
    </div>
    <div class="loginBox__optionalButtons marginTop">
        <div class="optionalButtons__rememberMeButton">
            <mat-checkbox color="warn"></mat-checkbox><span>Remember me</span>
        </div>
        <div class="optionalButtons__forgotPasswordButton">
            <button mat-button color="warn">Forgot password</button>
        </div>
    </div>
    <div class="loginBox__submitButton marginTop">
        <button class="loginBox__submitButton" mat-raised-button>Login</button>
    </div>
    <div class="loginBox__createAccount marginTop">
        <div class="createAccount__title">
            Don't have account?
        </div>
        <div class="createAccount__button">
            <button class="registerButton" mat-flat-button color="warn">Register</button>
        </div>
    </div>
</div>
