<mat-toolbar color="primary">
    <mat-toolbar-row class="navbar">
        <div class="navbar__menu">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="">Todo list</button>
                <button mat-menu-item routerLink="add-task">Add task</button>
                <button mat-menu-item routerLink="removed-tasks">Removed tasks</button>
            </mat-menu>
        </div>
        <div class="navbar__title">
            <span>Another ToDo list</span>
        </div>
        <div class="navbar__buttons">
            <button mat-button routerLink="add-task">Add task</button>
            <button mat-icon-button color="warn" routerLink="removed-tasks">
                <mat-icon>auto_delete</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
