.tasks{
    width: 500px;
    height: auto;
}
.tasks__title{
    width: 500px;
    height: 100px;
    font-size: 36px;
}
.tasks__singleRecord{
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.singleRecord__description{
    width: 340px;
    height: auto;
    display: flex;

    flex-flow: wrap;
}
.singleRecord__dates{
    display: flex;
    flex-direction: column;
}
.dates__creationDate{
    width: auto;
    height: 50%;
}
.dates__expiryDate{
    width: 200px;
    height: 50%;
}
.datesFlex{
    display: flex;
    align-items: center;

}
.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
