<div class="tasks">
    <div class="tasks__title flexCenter">
        <ng-container *ngIf="done; else templateUndone">
            Done tasks:
        </ng-container>
        <ng-template #templateUndone>
            Undone tasks:
        </ng-template>
    </div>
    <div class="tasks__singleRecord" *ngFor="let item of tasks" [ngClass]="item.isDone ? 'doneTask' : 'undoneTask'">
        <div class="singleRecord__isDone flexCenter">
            <mat-checkbox color="primary" checked={{item.isDone}} (change)="onCheckboxChange(item)"></mat-checkbox>
        </div>
        <div class="singleRecord__description">
            <span>{{item.taskDescription}} / </span>
            <span>is done {{item.isDone}}</span>
        </div>
        <div class="singleRecord__dates">
            <div class="dates__creationDate datesFlex">
                creation Date {{item.creationDate}}
            </div>
            <div class="dates__expiryDate datesFlex">
                expiry Date {{item.expiryDate}}
            </div>
        </div>
    </div>

</div>
