<div class="tasks">
    <div class="tasks__title flexCenter">
        <ng-container *ngIf="done; else templateUndone">
            Done tasks:
        </ng-container>
        <ng-template #templateUndone>
            Undone tasks:
        </ng-template>
    </div>
    <ng-container *ngFor="let item of tasks">
        <div *ngIf="!item.isRemoved" class="tasks__singleRecord" [ngClass]="item.isDone ? 'doneTask' : 'undoneTask'">
            <div class="singleRecord__isDone flexCenter">
                <mat-checkbox color="primary" checked={{item.isDone}} (change)="onCheckboxChange(item)"></mat-checkbox>
            </div>
            <div class="singleRecord__description marginLeft" (click)="routeToSingleTask(item.id)">
                <span>{{item.taskDescription}}</span>
            </div>
            <div class="singleRecord__dates marginLeft">
                <div class="dates__creationDate datesFlex">
                    Created: {{item.creationDate | date}}
                </div>
                <div class="dates__expiryDate datesFlex">
                    Expiry: {{item.expiryDate | date}}
                </div>
            </div>
        </div>
    </ng-container>
</div>
