<div class="tasks">
    <div class="tasks__title flexCenter">
        <ng-container *ngIf="done; else templateUndone">
            Done tasks:
        </ng-container>
        <ng-template #templateUndone>
            Undone tasks:
        </ng-template>
    </div>
    <div class="tasks__singleRecord">
        <div class="singleRecord__isDone flexCenter">
            <mat-checkbox color="primary"></mat-checkbox>
        </div>
        <div class="singleRecord__description">
            <span>descriptiondescription</span>
        </div>
        <div class="singleRecord__dates">
            <div class="dates__creationDate datesFlex">
                creation Date 26, oct 2022
            </div>
            <div class="dates__expiryDate datesFlex">
                expiry date
            </div>
        </div>
    </div>

</div>
