.tasks{
    width: 500px;
    height: auto;
    font-family: 'Comfortaa';
}
.tasks__title{
    width: 500px;
    height: 100px;
    font-size: 36px;
}
.tasks__singleRecord{
    width: 500px;
    height: 100px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
.singleRecord__description{
    width: 340px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    overflow: hidden;
}
.singleRecord__description:hover{
    cursor: pointer;
}
.marginLeft{
    margin-left: 12px;
}
.singleRecord__dates{
    display: flex;
    flex-direction: column;
}
.dates__creationDate{
    width: auto;
    height: 50%;
}
.dates__expiryDate{
    width: 170px;
    height: 50%;
}
.datesFlex{
    display: flex;
    align-items: center;

}
.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.doneTask{
    border: 2px solid #4854b4;
    border-radius: 2%;
    transition-duration: 500ms;
}
.doneTask:hover{
    box-shadow: 0 0 14px #5362d1;
}
.undoneTask{
    border: 2px solid red;
    border-radius: 2%;
    transition-duration: 500ms;
}
.undoneTask:hover{
    box-shadow: 0 0 14px red;
}

